/* Gestion du footer */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.container .text-muted {
	margin: 20px 0;
	text-align: center;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

/* Gestion des produits */

.produit {
	border: 1px solid #e7e7e7;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	background-color: #f8f8f8;
	margin-bottom: 15px;
}

.produit:not(.noHover):hover {
	background: rgb(200, 154, 91);
	color: white;
}

.produit:hover .description {
	color: #333;
}

.produit:hover img {
	background: white;
}

.produit img {
	height: 150px;
}

.produit .details {
	margin-bottom: 5px;
}

.input-group .input-number, .quantity {
	width: 50px;
	text-align: center;
}

.quantity {
	margin-left: auto;
	margin-right: auto;
}

.produit .description {
	background: url('../images/last-products-bg.png');
	padding: 20px;
	border: 1px solid #e7e7e7;
	border-left: none;
	border-right: none;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: -5px;
	margin-right: 0px;
	width: calc(100% + 10px);
}

/* Correction des titles sur bootstrap */

.h1, .h2, .h3, h1, h2, h3, .page-header {
	padding-top: 0px;
	margin-top: 0px;
}

/* Gestion de l'éventuelle sidebar */

.sidebar {
	display: none;
}

.nav-sidebar {
	margin-right: -21px; /* 20px de padding + 1px de bordure */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar > li > a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
	color: #fff;
	background-color: #428bca;
}

/* Gestion du carousel */

.carousel-control.left, .carousel-control.right {
	background: none;
	color: white;
}

.carousel-control {
	width: auto;
}

.carousel-control.left {
	left: 10%;
}

.carousel-control.right {
	right: 10%;
}

.carousel-indicators .active {
	background-color: white;
}

.carousel-indicators li {
	border: 1px solid white;
}

.carousel-inner>.item>img {
	margin-left: auto;
	margin-right: auto;
	height : 250px;
}

/* Slide de l'accueil */

.jumbotron {
	padding: 0px;
}

.slideAccueil .item>img {
	height: 100%;
	max-height: 763px;
	width: 100%;
}

.full-width {
    width: 100%;
}

.slideAccueil .carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.slideAccueil .carousel-caption p {
	font-size: 14px;
}

@media screen and (min-width: 768px) {
	.slideAccueil .carousel-caption p {
		font-size: 2em;
	}
}
/* Gestion de l'icône de chargement */

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 100px;
	height: 100px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin-left: auto;
	margin-right: auto;
}

/* Contenu principal */

.noMargin {
	margin-top: 0px;
	margin-bottom: 0px;
}

.page {
	padding-top: 20px;
}

.titleRoom {
	margin: 20px;
}

.titleRoom h1 {
	color: #ad1717;
}

.rooms:nth-child(odd) {
    background: #f9f9f9;
    padding-bottom: 12px;
    border-radius: 5px;
}

.rooms {
	margin-bottom: 20px;
}

.room-img img {
	height: 200px;
	width: 100%;
}

.room-img .alert {
	display: table-cell;
	vertical-align: middle;
}

.room-text {
	margin-top: 15px;
	color: #898989;
}

.room-text h2 {
	color: #ad1717;
}

.room-buttons {
	text-align: center;
	color: #ad1717;
	font-weight: bolder;
}

.btn-red {
	background-color: #ad1717;
	color: white;
	border: 1px solid #841414;
}

.btn-red:hover, .btn-red:active, .btn-red:focus {
	color: white;
	background-color: #841414;
}

.service {
	padding: 30px;
	background: white;
	border: 1px dotted black;
	margin-bottom: 10px;
}

.service:hover {
	background-color: #ad1717;
	color: white;
	border: 1px dashed white;
}

.calendar {
	background: #ad1717;
	padding: 10px;
	color: white;
	font-weight: bolder;
	font-size: 1em;
	border: 5px solid #841414;
}

.news {
	margin-top: 10px;
}

.news .btn {
	margin-top: 15px;
}

/* Menu du haut */

.menuHaut {
    min-height: 70px;
    background-color: #edf0f3;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.menuHaut .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
    color: #666666;
    font-size: 1.3em;
}

.menuHaut .navbar-nav > .active > a {
	/*background-color: #ad6060;*/
	color: #ad6060;
	background: none;
}

.menuHaut .navbar-brand {
    float: left;
    height: 70px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 40px;
    color: #ad1717;
}

.goAdmin {
	position: absolute;
    left: 10px;
    top: 25%;
}

/* Responsive du menu */

@media (max-width: 767px) {
	.menuHaut .navbar-nav > li > a {
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

.menuHaut .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.menuHaut .navbar-collapse {
	text-align: center;
	border-color: #ad1717;
}

.menuHaut .navbar-toggle {
	background-color: #ad1717;
}

.menuHaut .navbar-toggle .icon-bar {
	background-color: white;
}

.menuHaut .navbar-toggle {
    margin-top: 18px;
    margin-bottom: 18px;
    border-color: #ad1717;
}

.menuHaut .navbar-toggle:active, .menuHaut .navbar-toggle:hover, .menuHaut .navbar-toggle:focus {
	border-color: #ad1717;
	background-color: #841414!important;
}

.menuHaut .navbar-nav>li>a:focus, .menuHaut .navbar-nav>li>a:hover {
	color: #ad6060;
}

.menuHaut li:not(.logoBrand):hover, .menuHaut .navbar-nav > .active > a:hover, .menuHaut .navbar-nav > .active > a:focus {
	color: #ad6060;
	background: none;
}


.menuHaut .navbar-nav>.logoBrand>a, .menuHaut .navbar-nav>.logoBrand>a:hover {
	color: #ad1717;
	font-weight: bolder;
}

/* Gestion des contenus divers */

section {
	text-align: center;
	margin-bottom: 25px;
}

.box {
	background-color: #e6e6e6;
	border: 1px solid #d0d0d0;
	padding: 0px;
	border-radius: 3px;
}

.box .icon {
	font-size: 4em;
}

.box .title {
	color: #C89A5B;
	font-weight: bolder;
	font-size: 20px;
}

.box p {
	margin-top : 5px;
}

.box .buttons {
	margin-bottom: 10px;
}

/* Correction d'un bug dans bootstrap */

/*.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
	overflow: hidden; 
}*/

/* Page d'accueil */

.last-products {
	background: url('../images/last-products-bg.png');
	padding: 20px;
	border: 1px solid #d0d0d0;
	border-left: none;
	border-right: none;
}

.last-products h2 {
	margin-top: 10px;
}

i.bigCoffee {
	font-size: 8em;
}

/* Responsive */

@media (max-width: 1200px) {
	.col-lg-3 {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Responsive */

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}

	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.space-for-according{
  display: flex;
  justify-content: space-between;
}

.clear-both-left{
	padding-left: 0px;
	margin-left: 0px;
}

.border-form{
	border: black 1px solid;
	margin: 3px;
	padding: 6px;
}
