/*
 * Base structure
 */

.tableCenter tr, .tableCenter th, .tableCenter td{
  text-align: center;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/* Gestion du carousel */

.carousel-control.left, .carousel-control.right {
  background: none;
  color: black;
}

.carousel-control {
  width: auto;
}

.carousel-control.left {
  left: 10%;
}

.carousel-control.right {
  right: 10%;
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators li {
  border: 1px solid black;
}

.carousel-inner>.item>img {
  margin-left: auto;
  margin-right: auto;
  height : 250px;
}

.disabled-date {
  background-color: #ad1717!important;
  color: white!important;
}

/* Gestion de l'icône de chargement */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.placeholders .fa-lg {
  font-size: 3em;
}


/*
 * Affichage de la liste des thèmes
 */
.theme {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 3px;
}

.theme div, .theme button {
  margin-top: 10px;
  display: block;
}

.theme .alert {
  margin-bottom: 0px;
}

.theme-admin {
  background-color: #222;
  color: white;
}

.theme h1 {
  margin-top: 0px;
}

.space-for-according{
  display: flex;
  justify-content: space-between;
}


.found {
  background-color: #428bca;
  color: white;
}

.found:hover {
  background-color: #1e639e!important;
}

.clear-both-left{
  padding-left: 0px;
  margin-left: 0px;
}

.border-avis{
  border: #D7D7D7 2px solid;
  margin: 3px;
  padding: 6px;
}

.no-puce{
  list-style:none;
}

.border{
  border: #D7D7D7 0.5px solid;
  padding: 5px;
}

.margin-top-30px{
  margin-top: 30px;
}